<div class="center jumbotron brand">
  <h1>New Campaign</h1>
</div>
<% if has_bank_account?(current_club) %> 
	<%= render 'form' %>
<% else %> 
	<%= link_to "Add Bank Account", edit_club_path(current_club), class: "btn btn-lg btn-primary" %>
<% end %>
